name: Build Dev Branches

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
      - "automated/dependency_version_update"
      - "automated/dependency_version_update_tmp"

jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./gradlew clean build --stacktrace --scan --console=plain --no-daemon
          ./gradlew codeCoverageReport
      - name: Upload Coverage Report
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true

  windows-build:
    if: false # because there is no opentelemetry-jaeger-executable available
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Download Jaeger server executable
        env:
          JAEGER_VERSION: 1.21.0
        run: |
          Invoke-WebRequest https://github.com/jaegertracing/jaeger/releases/download/v$env:JAEGER_VERSION/jaeger-$env:JAEGER_VERSION-windows-amd64.tar.gz -O jaeger.tar.gz
          tar -xzvf jaeger.tar.gz
          mv jaeger-$env:JAEGER_VERSION-windows-amd64 jaeger
          echo "JAEGER_SERVER_EXECUTABLE=$(Resolve-Path jaeger\jaeger-all-in-one.exe)" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
      - name: Build with Gradle
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew.bat clean build --stacktrace --scan --console=plain --no-daemon
